.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-flow: column;
}

.Content {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  overflow-y: auto;
}

.Content-Component {
  flex-flow: column;
  flex: 1 1 auto;
  justify-content: center;
}

.Content-Footer {
  flex: 0 1 170px;
}